.masthead {
    height: 10 vh;
    min-height: 50px;
    background-image: url('header_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

#vpadding {
  padding: 25% 0;
}

.image-photos {
  width: 500px;
  height: 500px;
  object-fit: fill;
}